/*body{
  background-image: url("../img/gingham.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}*/

.soon{
  text-align: center;
}

html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
}

.navigation {
  padding: 0;
  margin: 0;
  background: black;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.name{
  font-family: 'Anton', sans-serif;
  float:right;
  padding: 0;
  margin: 0;
  color: #7F1F1E!important;
}

li {
  display: inline-block;
  padding: 5px 10px;
}

.navigation a {
  color: white;
  text-decoration:none;
}

a:hover {
  color: #7F1F1E!important;
  text-decoration:none;

}

.contact a{

padding: 20px;
display: inline;
width: 20px;
height: 20px;

}

.st{
  display:inline-block;
  padding:50px;
  margin-left:250px;
}

.active {
    background-color: lighten (#7F1F1E, 20%)!important;
  }

.main{
  margin-top: 30px;
}

.slide{
  background-attachment: fixed;
  width: 100%;
  height:  800px;
  position: relative;
  padding: 30px;
}

.button{
  font-size: 50px;
  color:white;
  display: block;
  position: absolute;
  bottom:25px;
  left:50%;
  margin-left: -25px;
}

#slide1 {
  background:url("../img/slide1/YES.gif") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#slide2 {
  background:black;

}

#slide3 {
  background:white;

}

#slide4 {
  background:black;
}

.resume{
  margin-left: 80px;
  margin-right:80px;
}

.titles{
  color:#7F1F1E;
  font-family: 'Anton', sans-serif;
}
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help
